:root{
  --primary-main: #1a237e;
  --primary-light: #534bae;
  --primary-dark: #000051;
  --secondary-main: #f5f5f5;
  --secondary-light: #ffffff;
  --secondary-dark: #c2c2c2;
}

body {
  font-family: Arial;
}

.margin-top-10 { margin-top: 10px;}
.margin-top-20 { margin-top: 20px;}
.margin-top-30 { margin-top: 30px;}
.margin-top-40 { margin-top: 40px;}
.margin-bottom-10 { margin-bottom: 10px;}
.margin-bottom-20 { margin-bottom: 20px;}
.margin-bottom-30 { margin-bottom: 30px;}
.margin-bottom-40 { margin-bottom: 40px;}

/* Chart Style */
.chart {
  padding: 20px 20px 20px 20px;
}

.tab-metric {
  margin: 0px!important;
}
/* 
.metric-with-difference-indicator {

} */

.percentage-value {
  margin: 0px!important;
  display: inline;
}

.dashboard {
  background-color: var(--secondary-main); /* rgb(250,250,250);*/
}

.dashboard-item {
  padding: 20px 20px 20px 20px;
}

#dashboard-title {
  margin-top: 30px;
}

#dashboard-functions {
  margin-top: 30px;
  /* background-color: white; */
  padding: 20 0px 20px 20px;
  align-self: flex-end;
  border-radius: 15px;
}

.fa-long-arrow-alt-up {
  color: green;
}

.fa-long-arrow-alt-down {
  color: red;
}

.dashboard-content {
  padding: 0px 20px 20px 20px;
  background-color: white;
  /* border: 1px solid grey; */
  border-radius: 15px;
  height: 100%;
}

.scatter-plot {
  padding: 20px 0px 0px 50px;
}

.bar-plot {
  padding: 20px 0px 0px 50px;
}

.table-plot {
  padding: 20px 0px 0px 50px;
}

.summary {
  padding: 20px;
  margin-left: 20px!important;
}

.summary-item {
  margin: 10px 0px 10px 0px;
  /* padding-left: 50px; */
}

.center {
  text-align: center;
}

.vertical-menu {
  position: fixed;
  margin-top: 80px;
  margin-left: 20px;
}

.vertical-menu-bottom {
  position: fixed;
  bottom: 80px;
  margin-left: 20px;
}

.vertical-menu-bottom a {
  background-color: var(--secondary-main); /* Grey background color */
  color: rgb(112, 112, 112); /* Black text color */
  font-size: 14px;
  font-weight: 500;
  display: block; /* Make the links appear below each other */
  padding: 5px 12px 5px 20px; /* Add some padding */
}


.vertical-menu a {
  background-color: var(--secondary-main); /* Grey background color */
  color: rgb(112, 112, 112); /* Black text color */
  font-size: 14px;
  font-weight: 500;
  display: block; /* Make the links appear below each other */
  padding: 5px 12px 5px 20px; /* Add some padding */
}

.vertical-menu p {
  background-color: var(--secondary-main); /* Grey background color */
  color: grey; /* Black text color */
  font-size: 12px;
  font-weight: 500;
  display: block; /* Make the links appear below each other */
  padding-left: 12px; /* Add some padding */
  padding-top: 20px;
  margin-top: 10px;
}

.vertical-menu a:hover {
  background-color: var(--secondary-dark); /* Dark grey background on mouse-over */
  text-decoration: none; /* Remove underline from links */
  color: black; /* Black text color */
  border-radius: 7px;
}

.vertical-menu a.active {
  background-color: rgb(150, 156, 224) ;
  color: var(--primary-dark);
  border-radius: 7px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: white;
  padding-left: 40px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-top: 5px solid white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f1f1f1;
  border-top: 5px solid #f1f1f1;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  border-top: 5px solid rgb(26,35,126);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}