:root{
  --primary-main: #1a237e;
  --primary-light: #534bae;
  --primary-dark: #000051;
  --secondary-main: #f5f5f5;
  --secondary-light: #ffffff;
  --secondary-dark: #c2c2c2;
}

body {
  font-family: Arial;
}

.margin-top-10 { margin-top: 10px;}
.margin-top-20 { margin-top: 20px;}
.margin-top-30 { margin-top: 30px;}
.margin-top-40 { margin-top: 40px;}
.margin-bottom-10 { margin-bottom: 10px;}
.margin-bottom-20 { margin-bottom: 20px;}
.margin-bottom-30 { margin-bottom: 30px;}
.margin-bottom-40 { margin-bottom: 40px;}


/* Chart Style */
.chart {
  padding: 20px 20px 20px 20px;
}

.hover-icon i {  
  visibility: hidden;
  vertical-align: middle;
}

.hover-icon:hover i {
  visibility: visible!important;
  vertical-align: middle;
}

.tab-metric {
  margin: 0px!important;
}
.dashboard {
  background-color: var(--secondary-main); /* rgb(250,250,250);*/
}

.dashboard-item {
  padding: 20px 20px 20px 20px;
}

#dashboard-title {
  margin-top: 30px;
}

#dashboard-functions {
  margin-top: 30px;
  padding: 20 0px 20px 20px;
  align-self: flex-end;
  border-radius: 15px;
}

.fa-long-arrow-alt-up {
  color: green;
}

.fa-long-arrow-alt-down {
  color: red;
}

.dashboard-content {
  /*Mdc layout*/
  padding: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.12);
  height: 100%;
}

.title {
  padding: 20px 0px 0px 20px;
}

.sub-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin: 0px!important;
}

.value {
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-bottom: 0px;
}

.underline {
  font-size: 10px;
  letter-spacing: 1.5px;
  color: darkgrey;
  text-transform: uppercase;
}

.percentage-value {
  font-size: small;
  font-weight: 500;
}

.fas {
  padding-right: 3px;
}

.scatter-plot {
  padding: 20px 0px 0px 50px;
}

.bar-plot {
  padding: 20px 0px 0px 50px;
}

.table-plot {
  padding: 20px 0px 0px 50px;
}

.summary {
  padding-top: 20px;
  margin-left: 20px!important;
}

.summary-item {
  margin: 10px 0px 10px 0px;
}

.center {
  text-align: center;
}

.vertical-menu {
  position: fixed;
  margin-top: 80px;
  margin-left: 20px;
}

.vertical-menu-bottom {
  position: fixed;
  bottom: 80px;
  margin-left: 20px;
}

.vertical-menu-bottom a {
  background-color: var(--secondary-main);
  color: rgb(112, 112, 112);
  font-size: 14px;
  font-weight: 500;
  display: block; 
  padding: 5px 12px 5px 20px; 
}


.vertical-menu a {
  background-color: var(--secondary-main); 
  color: rgb(112, 112, 112); 
  font-size: 14px;
  font-weight: 500;
  display: block; 
  padding: 5px 12px 5px 20px; 
  margin: 2px;
}

.vertical-menu p {
  background-color: var(--secondary-main); 
  color: grey; 
  font-size: 12px;
  font-weight: 500;
  display: block; 
  padding-left: 12px; 
  padding-top: 20px;
  margin-top: 10px;
}

.vertical-menu a:hover {
  background-color: var(--secondary-dark); 
  text-decoration: none;
  color: black;
  border-radius: 7px;
}

.vertical-menu a.active {
  background-color: var(--primary-main);
  color: white; /*var(--primary-dark);*/
  border-radius: 7px;
}

/* Insight card */
#pre-route-insight {
  text-align: center;
}

.support-text {
  color: lightgrey;
  text-transform: uppercase;
}

/* Interactive table */
.mdc-data-table {
  width: 100%;
}

.mdc-data-table__header-cell {
  cursor: pointer;
}

.mdc-data-table__row {
  cursor: pointer;
}

label {
  margin-bottom: 0rem!important;
}

#button-download.mdc-button:not(:disabled) {
  background-color: var(--primary-light)!important;
}

.download-container {
  height: 100px;
  position: relative;
}

.download-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: white;
  padding-left: 20px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-top: 5px solid white;
}

.tab button:hover {
  background-color: #f1f1f1;
  border-top: 5px solid #f1f1f1;
}

.tab button.active {
  background-color: white;
  border-top: 5px solid rgb(26,35,126);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}